.intro {
    .intro__container {
        .intro__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        .intro__image {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                max-width: 470px;
            }
        }
    }

    &::before {
        content: " ";
        width: 110%;
        height: 1000px;
        position: absolute;
        top: -200px;
        right: 0px;
        transform: none;
        z-index: -1;
        background-size: 100%;
        border-radius: 2rem;
        background-position: 650px bottom;
        background-color: #FF8635;
    }
}

@media (min-width: 1024px) {
    .intro {
        &::before {
            right: 35%;
            transform: skew(-23deg, 0deg) rotate(-10deg);
        }
    }
}
