@import "./components/Header/header";
@import "./components/Footer/footer";
@import "./components/1-Intro/intro";
@import "./components/2-Como_Funciona/cf";
@import "./components/3-Gamificação/gamification";
@import "./components/4-Planos/planos";
@import "./components/5-FAQ/faq";
@import "./pages/home";

//Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html{
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

#root{
  // overflow-x: hidden !important;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2d3748;
}

.btn-styled {
  display: flex !important;
  align-items: center !important;
  background-color: #0a105f !important;
  border-radius: 20px !important;
  color: white !important;
  text-transform: none !important;
  padding: 0px 10px !important;
  height: 40px !important;
  width: 150px !important;
  text-decoration: none !important;
  font-family: "Poppins", sans-serif !important;
  transform: scale(1) !important;
  transition: 0.2s ease !important;

  &:hover{
    // color:#ff9955 !important;
    transform: scale(1.1) !important;
    transition: 0.2s ease !important;
  }
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
